<input id="picked" type="text" class="input" placeholder="Click something or type a selector" value="{{path}}" on-keyup="highlight:{{path}}"/>
<button class="btn-clipboard" data-clipboard-target="#picked">Copy</button>