.btn-example
  cursor: pointer
  float: right
  padding: 5px 10px
  border-radius: 3px
  background: none
  font-size: .75rem
  trans()
  border: 1px solid rgba(white, 50%)
  color: white
  outline: 0
  margin-top: 18px
  font-weight: 300
  &:hover
    background: rgba(white, 5%)
  &:active
    background: rgba(#dc2430, 5%)
  @media (min-width: $tablet)
    margin-top: 26px