header
  cf()
  background: linear-gradient(to left, #7b4397, #dc2430)
  color: white
  padding: 0 15px
  height: 60px
  @media (min-width: $tablet)
    padding: 0 20px
    height: 75px

h1
  font-weight: 100
  font-size: 1rem
  float: left
  line-height: 60px
  margin: 0
  @media (min-width: $tablet)
    font-size: 1.5rem
    line-height: 75px
  a
    color: white
    text-decoration: none
    cf()
    img
      display: block
      float: left
      margin-right: 10px
      margin-top: 20px
      height: 20px
      @media (min-width: $tablet)
        margin-top: 25px
        height: 30px
    span
      display: block
      float: left