code, textarea
  font-family: 'Roboto Mono', sans-serif
  line-height: 1.75
  tab-size: 2
  font-size: .75rem

#json
  height: calc(100% - 55px)
  overflow: auto

main
  cf()
  height: calc(100vh - 60px)
  width: 100%
  overflow: hidden
  @media (min-width: $tablet)
    height: calc(100vh - 75px)

textarea
  border: 0
  width: 100%
  height: 20vh
  outline: 0
  resize: none
  padding: 15px
  @media (min-width: $tablet)
    border-bottom: 0
    float: left
    width: 50%
    height: calc(100vh - 75px)

.code-wrap
  height: calc(100vh - 20vh - 60px)
  position: relative
  border-top: 1px solid darken(white, 10%)
  @media (min-width: $tablet)
    border-left: 1px solid darken(white, 10%)
    height: calc(100vh - 70px)
    margin-top: 0
    float: left
    width: 50%

pre
  height: 100%

code
  display: block
  height: calc(100% - 57px)
  padding: 15px
  background:#FFF;
  color:#333;

.grab
  height: 50px
  position: relative
  input
    width: calc(100% - 110px)
    border: 0
    border-bottom: 1px solid darken(white, 10%)
    outline: 0
    padding: 0 10px
    font-size: .75rem
    height: 50px
    line-height: 50px
    font-weight: 500
    float: left
    color: lighten(black, 30%)
    &:placeholder-shown
      font-weight: 300

.dropdown
  position: relative
  width: 110px
  height: 50px
  float: left
  background-color: #F2F2F2
  button
    display: none
    &:first-child
      display: block
  &:hover
    button
      display: block