.error-message
  position: absolute
  bottom: 27px
  left: 7px
  right: 22px
  background: rgba(tomato, 80%)
  padding: 10px
  border-radius: 3px
  color: white
  border: 1px solid rgba(tomato, 90%)
  font-size: .75rem
  text-align: center
  a
    color: white
    text-decoration: none
    padding: 2px
    border-bottom: 1px solid rgba(white, 50%)
    trans(500ms)
    &:hover
      border-bottom-color: rgba(white, 75%)